<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
             <link href="{{ asset('build/app/css.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}

            <nav class="cyan">

                <div class="nav-wrapper">
                    <a class="brand-logo" href="{{ path('homepage') }}">Last-Minute</a>

                    <ul class="right">
                        {% if is_granted('ROLE_USER') %}
                            <li>{{ app.user.username }}</li>
                            <li><a href="{{ path('logoutPath') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('studentRegister') }}">Register</a></li>
                            <li><a href="{{ path('studentLogin') }}">Login</a></li>
                        {% endif %}
                    </ul>

                </div>


            </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
